# Database Configuration
DB_URL=jdbc:mysql://localhost:3306/laptop_store?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8
DB_USERNAME=root
DB_PASSWORD=@Trung3001

# JWT Configuration
JWT_SECRET=ahiksdfhasdfhkjasdhfhauf8727387
JWT_EXPIRATION_MS=86400000

# Google OAuth
GOOGLE_CLIENT_ID=599730376958-usnc550shmmmo1s06fa303oj8etin6hv.apps.googleusercontent.com

# Admin Configuration
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin
ADMIN_FULLNAME=System Admin

# Frontend Configuration
FRONTEND_URL=http://localhost:3000

# Send email
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
